* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: black;
}

header {
  background-color: black;
  height: 10vh;
}

.icon-top {
  background-color: #726f6f;
  border-radius: 10px;
  padding: 5px;
  margin: 7px;
  color: white;
}
.flex {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.main {
  width: 90%;
  margin: auto;
  height: 80vh;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}
.mic-white {
  color: white;
}
.box {
  width: calc(100% / 7 - 8px);
  height: calc(100% / 5 - 10px);
  margin-bottom: 10px;
  background-image: url(img/1025-4951x3301.jpg);
  background-size: cover;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.utente {
  align-items: flex-end;
  background-color: #868080;
  width: 60%;
  height: 20%;
  padding-left: 3px;
}

.nav-footer {
  height: 10vh;
  background-color: #494949;
}

.button i {
  margin: 0 10px;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  margin: 0 10px;
}

.fa-share-square {
  color: green;
}

.nav-footer-left,
.nav-footer-middle,
.nav-footer-right {
  align-items: center;
}

.nav-footer-middle {
  flex-grow: 1;
  justify-content: center;
}

.nav-footer-right {
  justify-content: flex-end;
  padding: 10px;
  background-color: #868080;
  color: red;
}

footer .button {
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  margin: 10px;
}

footer .fas {
  text-align: center;
}
